// Just a helper for prototype JS
.js {
  .js-hide {
    display: none;
  }
}


// Tweak the position of the search because we've moved it
#navigation_search {
  top: 1em;
}

// Remove the right padding on the navigation because the search isn't there
// any more
#navigation {
  padding-right: 0;
}

// New More menu
#navigation .more-menu {
  position: absolute;
  width: 275px;
  z-index: 999;
  background-color: #333;
  text-align: left;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
  padding: 1em;

  ul {
    margin: 0;
    padding: 0;
    li {
      float: none;
      display: block;
      a {
        width: 100%;
      }
    }
  }
}


// New logged in menu styles
.pro-pill {
  font-size: 0.75em;
  color: white;
  background-color: purple;
  border-radius: 2px;
  padding: 0px 5px 3px 3px;
  text-align: center;
  margin-left: 0.5em;
  // vertically center it with normal text
  position: relative;
  top: -0.15em;
}

#navigation { // Naughty naughty, who used an ID here?
  .account-link-menu-item {
    float: right;
  }
}

.account-link:after {
  position: relative;
  top: -0.15em;
  margin-left: 1em;
  font-size: 0.5em;
  content: "▼";
}

.logged-in-menu {
  position: absolute;
  right: 0;
  width: 275px;
  z-index: 999;
  background-color: white;
  color: black;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
  padding: 1em;
}

.logged-in-menu__links {
  border-bottom: 1px solid #CCC;
  padding: 0 0 1em 0;
  margin-bottom: 1em;
}

#navigation .logged-in-menu li {
  display: block;
  float: none;
}

#navigation .logged-in-menu a,
#navigation .logged-in-menu__signout-link a {
  color: #197ace;
  text-decoration: none;
  padding: 0;
  transition: none;
  &:hover {
    color: #197ace;
    background-color: transparent;
    text-decoration: underline;
  }
}

#navigation .logged-in-menu__signout-link a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  color: #888;
  &:hover {
    color: #888;
  }
}

.profile-summary {
  border-bottom: 1px solid #CCC;
  margin-bottom: 1em;
}

// Dashboard styles

.dashboard {
  background-color: white;
}

.dashboard-header,
.dashboard-body {
  @include flexbox;
  padding: 1em;
}

.dashboard-left-column {
  width: 30%;
  padding-left: 3em;
  padding-right: 3em;
}

.dashboard-right-column {
  width: 70%;
  padding-right: 3em;
}

.dashboard-header {
  background-color: #e6e4df;
  border: 1px solid #e1dfda;
  margin-top: 2em;
  padding-left: 3em;
  h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display:block;
    width:100%;
    font-weight: bold;
  }
}

.dashboard-profile__image {
  float:left;
  margin-right: 1em;
  border-radius: 5px;
}

.dashboard-nav {
  list-style-type: none;
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #666;
  @include clearfix;
}

.dashboard-nav__item {
  float: left;
  border-bottom: 1px solid #666;
  padding-bottom: 0.5em;
  padding-right: 1em;
  // To overlap the bottom border with that of the containing list, making it
  // appear continuous
  margin-bottom: -2px;
  a,
  a:hover {
    font-weight: normal;
    color: white;
    text-decoration: none;
  }
}

.dashboard-nav__item:hover,
.dashboard-nav__item--highlighted {
  border-bottom: 2px solid orange;
  cursor: pointer;
}

.dashboard-nav__item--right {
  float: right;
}

h1 {
  margin-left: 1em;
  margin-bottom: 1em;
}

.dashboard-folders,
.dashboard-sub-folders {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dashboard-sub-folders {
  margin: 1em 0 2em 0.5em;
}

.dashboard-folder {
  margin-bottom: 0.5em;
  font-size: 0.9em;
}

.dashboard-folder a,
.dashboard-folder a:hover,
.dashboard-folder--disabled .fake-link {
  color: black;
  display: block;
  padding: 0.5em 1em 0.5em 1em;
  width: 100%;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
}
.dashboard-folder a:hover {
  color: black;
  border-bottom-color: orange;
}

.dashboard-folder--disabled {
  color: #999;
}

.dashboard-folder--top-level {
  background-color: #ddd;
  margin-bottom: 1em;
}

.dashboard-folder--selected {
  font-weight: bold;
  font-size: 1em;
  background-color: #efefef;
  margin-bottom: 0;
}

.dashboard-folder__count {
  float: right;
}


.dashboard-todo {
  margin-bottom: 3em;
}

.dashboard-todo__list {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dashboard-todo__title,
.dashboard-activity__title {
  padding-bottom: 1em;
  margin-bottom: 0;
  margin-top: 0;
}

.dashboard-todo__list__item,
.dashboard-activity__item {
  padding: 1em 0 1em 0;
}

.dashboard-todo__title,
.dashboard-todo__list__item,
.dashboard-activity__title,
.dashboard-activity__item {
  border-bottom: 1px solid #ccc;
}



.dashboard-activity__item {
  @include flexbox;
}

.dashboard-activity__item__time {
  flex: 0 0 25%;
  color: #999;
  padding-right: 2em;
}

.dashboard-activity__item__dashboard {
  flex: 0 0 75%;
  padding-left: 2em;
}



// Marketing page

.marketing-container{
  min-height: 450px; // Make space for the image
  background-color: #eaebed;
}

.marketing {
  // Get out of the wrapping divs with margin: 0 auto and max-width 64em;
  position: absolute;
  left: 0;
  // Fill the screen with the picture
  width: 100%;
  height: 450px;
  background: image-url('alaveteli_professional/marketing-background-mug.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.marketing-inner {
  margin: 0 auto;
  max-width: 64em;
}

h1 {
  font-weight: normal;
  margin-top: 2.1em;
  margin-left: 1px;
}

h1 .topline {
  display: block;
  font-size: 0.9em
}
h1 .bottomline,
h1 .typed-cursor {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1em;
  font-size: 1.75em;
  color: #197ace;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.features {
  @include flexbox();
  width: 75%;
}

.feature {
  @include flex(0 0 33%);
  padding-right: 1em;
  h2 {
    font-size: 1em;
  }
}


// Login page
#content.pro-login {
  margin: 0 auto;
  max-width: 24em;
  float: none;
  text-align: center;

  .signin {
    text-align: left;
    background-color: white;
    padding: 2em;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);

    .form_label {
      margin-bottom: 0.5em;
      .help-text {
        display: block;
        font-size: 0.8em;
      }
    }
    .form_checkbox .form_label .help-text {
      margin-left: 1em;
    }
    input[type=text],
    input[type=password] {
      border-radius: 5px;
      height: 3rem; // Increase on 2.3125 in main css
      margin-bottom: 0;
    }
    input[type=submit] {
      width: 100%;
      margin-bottom: 1em;
    }
  }
}


// Search results page

// Override the floating a little bit
#authority_selection {
  float:none;
  width: 100%;
}

.authority-results {
  @include flexbox();
}

.authorities {
  @include flex(0 0 66%);
  margin-right: 2em;
  float: left;
}

.authority-groups {
  @include flex(0 0 33%);
  float:left;
  h2 {
    font-size: 1.75em;
  }
  h3 {
    color: #197ace;
  }
}

.add-to-request-button:before {
  content: "+";
  margin-right: 0.5em;
}
.add-to-request-button.disabled:before {
  content: "";
  margin-right: 0;
}
// OMG I hate this css selector
a.link_button_green.add-to-request-button.disabled,
a.link_button_green.add-to-request-button.disabled:hover,
a.link_button_green.add-to-request-button.disabled:active,
a.link_button_green.add-to-request-button.disabled:visited,
a.link_button_green.add-to-request-button.disabled:focus,
a.link_button_green.add-to-request-button.disabled:visited:focus,
a.link_button_green.add-to-request-button.disabled:visited:hover,
a.link_button_green.add-to-request-button.disabled:visited:active {
  color: #ccc;
  background-color: #999;
  cursor: default;
}

.request-directly-button {
  // !important because I hate the link_button_green css
  margin-left: 2em !important;
  background-color: #62b356 !important;
}
.request-directly-button:after {
  content: "❯";
  margin-left: 0.5em;
}

.group-details {
  @include clearfix;
  margin-bottom: 1em;
}

.star-rating,
.verified {
  display: inline-block;
  margin-left: 1em;
}

.star {
  color: #62b356;
}
.verified-tick {
  color: white;
  background-color: #62b356;
  border-radius: 50%;
  width: 1.1em;
  height: 1.1em;
  border-color: darken(#62b356, 20%);
  padding: 0 2px 0 2px;
}

.recipients {
  border-radius: 5px;
  margin-bottom: 2em;
  background-color: lighten(#444, 10%);
  color: white;
  a,
  a:hover {
    color: white;
    text-decoration: none;
  }
}

.recipients-list {
  padding: 1em;
}

.recipient {
  display: inline-block;
  margin: 0 1em 1em 0;
  background-color: #444;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
  padding: 0.5em 1em;
  border-radius: 3px;
}
.recipient-remove {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  margin-left: 0.5em;
}

.recipients-title {
  @include clearfix;
  padding: 1em;
}
.clear-recipients {
  float: right;
}

.recipients-footer {
  @include flexbox;
  background-color: #444;
  padding: 1em;
}

.batch-request-message {
  @include flex(0 0 75%);
}
.send-request {
  @include flex(0 0 25%);
}

.send-request-button {
  display: block;
  float: right;
  background-color: #527280;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
  padding: 0.5em 1em;
  border-radius: 3px;
}

.new_info_request .selectize-control.recipients-input {
  margin-top: 1em;
}

.recipient-result {
  font-weight: normal;
  border-bottom: 1px solid #ccc;
  .name {
    margin-top: 1em;
  }
  .requests {
    font-size: 0.8em;
    color: #999;
  }
}


// Requests page
.requests__folder-title {
  h2 {
    margin-top: 0;
  }
}
.requests__header {
  background-color: #f3f1eb;
  @include flexbox;
  padding: 0.5em;
}

.requests__search,
.requests__sort,
.requests__filters {
  @include flex(0 0 33%);
  margin-right: 1em;

  input, select, label {
    display: inline-block;
    margin-bottom: 0;
  }
  select {
    max-width: 60%;
  }
}

.requests__filters {
  margin-right: 0;
}

.requests__list {
  margin-top: 0.5em;
}

.request {
  border-bottom: 1px solid #ccc;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.request__title {
  font-size: 1.25em;
  margin-top: 0;
}

.request__meta {
  @include flexbox;
}

.request__recipient,
.request__created,
.request__updated,
.request__status,
.request__actions {
  margin-right: 1em;
  font-size: 0.9em;
}

// TODO - the flex() rules for these add up to way less than 100%, yet the
// elements still overflow their container. Not sure why. I've hacked it by
// reducing the width of the select in the last element and floating it right
.request__recipient,
.request__status {
  @include flex(0 0 15%);
}

.request__created,
.request__updated {
  @include flex(0 0 15%);
}

.request__actions {
  @include flex(0 0 31%); // No idea why this has to be 31% in particular
  @include clearfix;
  margin-right: 0;
  .actions {
    max-width: 90%;
    float: right;
  }

}

.request__meta__label {
  font-size: 0.8em;
  display: block;
  color: #999;
}

// Request in progress page
// More css-selector specivity issues here
a.back-to-requests-button {
  display: inline-block;
  border-radius: 5px;
  padding: 0.5em;
  border: 1px solid #ccc;
  background-color: #f3f1eb;
  margin-top: 2em;
  margin-bottom: 2em;
  color: black;
  text-decoration: none;
  &:before {
    content: "◀";
    margin-right: 0.5em;
    font-size: 0.75em;
  }
  &:hover {
    text-decoration: none;
    background-color: lighten(#f3f1eb, 10%);
  }
}

.request-page {
  background-color: white;
  padding: 0 3em 3em 3em;
  margin-top: 2em;

  h1 {
    margin-top: 1em;
  }

  .request-status-and-actions {
    @include flexbox;
    #request_status {
      @include flex(0 0 75%);
    }
    .request__actions {
      @include flex(0 0 25%);
    }
  }
}

.icon_partially_successful,
.request_icon_line {
  background-color: transparent;
}